/********** variables********/


$colorprincipalrojo:#3a0303;
$colorsecundariorojo:#d40f0f;
$colorprincipalamarilo:#e9d47e;
$colorsecundarioamarilo:#bdab23;
$colorfacebook:#3b5998;
$colortwitter:#55acee;
$colorinstagram:#a20b98;
$colorletragneral:rgb(143, 139, 145);
$tamniotitulos:2rem;
$tamañosubtitulos:1rem;

